// ===== Colors ===== //
$black: #000;
$white: #fff;
$blueLight: #3172A3;
$blueMid: #336799;
$blueDark: #355372;
$greyLight: #A4ADAF;
$greyMid: #666;
$greyDark: #333;

// ===== FontAwesome ===== //
$arrowDown: \f063;
$servicesIcon : (1: \f080, 2: \f0e6, 3: \f132, 4: \f0c0);
// $analysis: \f080;
// $support: \f0e6;
// $security: \f132;
// $socialWork: \f0c0;
$contactIcon : (1: \f0e5, 2: \f003, 3: \f041, 4: \f098);
// $chatOnline: \f0e5;
// $mail: \f003;
// $location: \f041;
// $phone: \f098;

// ===== Breakpoints ===== //
$bigDevice: 1920;
$mac: 1440;
$pc: 1280;
$mdPc: 1150;
$ipadLandscape: 1024;
$ipad: 995;
$miniIpad: 767;
$phone: 640;
$iphone: 480;
$iphoneSm: 375;
$iphoneSe: 320;