.gallery {
  &__wrapper {
    padding: 109px 0 94px;
    @include flex-center;
    @include flex-direction(column);

    @include responsive-max($ipadLandscape) {
      width: 100%;
      padding: 80px 3%;
    }
  }

  &__lists {
    padding: 0 2% 0 .5%;
    gap: 31px;
    @include flex-center;

    @include responsive-max($ipadLandscape) {
      padding: 0;
      gap: 20px;
    }
    
    &--item {
      overflow: hidden;

      img { @include transition; }

      @include responsive-min($ipadLandscape) {
        &:hover img {
          @include transform(scale(1.1));
        }
      }

      @include responsive-max($miniIpad) {
        &:not(:nth-child(1), :nth-child(2), :nth-child(3)) { display: none; }
      }

      @include responsive-max($phone) {
        &:not(:nth-child(1), :nth-child(2)) { display: none; }
      }

      @include responsive-max($iphone) { 
        &:not(:first-child) { display: none; }
      }
    }
  }

  &__title {
    position: relative;
    right: 10px;

    @include responsive-max($ipadLandscape) { right: 0; }
  }
  
  &__para {
    width: 53%;
    margin: 22px 0 83px;
    font-size: 14px;
    text-align: center;

    @include responsive-max($ipadLandscape) {
      width: 100%;
      margin: 22px 0 50px;
    }
  }

  &__controls {
    margin-top: 46px;
    position: relative;
    right: 8px;
    gap: 29px;
    @include flex-center;

    @include responsive-max($ipadLandscape) { right: 0; }

    li {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $greyLight;
      cursor: pointer;
      text-indent: -99999px;
      @include transition;

      &:first-child { background-color: $blueLight; }

      @include responsive-min($ipadLandscape) {
        &:hover { background-color: $blueLight; }
      }
    }
  }
}